# OpenMediaVault 7 Preseed Configuration
# Semi-automated installer for Debian 12 (Bookworm) based OMV
# Place on USB root and add to boot params: preseed/file=/cdrom/preseed.cfg auto=true

# Locale and keyboard
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us
d-i console-setup/ask_detect boolean false

# Network - DHCP initially (static set post-install by 03-network.sh)
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string omv-nas
d-i netcfg/get_domain string local
d-i netcfg/hostname string omv-nas

# Mirror
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Clock and timezone
d-i clock-setup/utc boolean true
d-i time/zone string America/Sao_Paulo
d-i clock-setup/ntp boolean true

# Root password
d-i passwd/root-login boolean true
d-i passwd/root-password password Openmediavault@2026!
d-i passwd/root-password-again password Openmediavault@2026!

# Skip normal user creation (we create users in 02-user.sh)
d-i passwd/make-user boolean false

# Partitioning - use entire disk, single partition
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# GRUB bootloader
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false

# Finish
d-i finish-install/reboot_in_progress note
d-i debian-installer/exit/poweroff boolean false
