# This file is part of openmediavault.
#
# @license   http://www.gnu.org/licenses/gpl.html GPL Version 3
# @author    Volker Theile <votdev@gmx.de>
# @copyright Copyright (c) 2009-2023 Volker Theile
#
# openmediavault is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# any later version.
#
# openmediavault is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with openmediavault. If not, see <http://www.gnu.org/licenses/>.

# Documentation/Howto:
# https://www.debian.org/releases/bookworm/example-preseed.txt
# http://wiki.debian.org/DebianInstaller/Preseed
# http://d-i.alioth.debian.org/manual/en.i386/apb.html
# http://d-i.alioth.debian.org/manual/en.i386/apbs04.html
# http://d-i.alioth.debian.org/manual/en.i386/apbs05.html
# http://linuxblog.uni-duesseldorf.de/419
# http://www.debian-administration.org/articles/394
# http://www.hps.com/~tpg/notebook/autoinstall.php
# http://blogs.cae.tntech.edu/mwr/2007/04/17/unattended-debian-installations-or-how-i-learned-to-stop-worrying-and-love-the-preseedcfg/
# http://users.telenet.be/mydotcom/howto/linux/automatic.htm
# http://debian.ethz.ch/d-i/p

### Locale and keyboard
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select br
d-i keyboard-configuration/variant select abnt2
d-i console-setup/ask_detect boolean false

### Clock and timezone
d-i clock-setup/utc boolean true
d-i time/zone string America/Sao_Paulo
d-i clock-setup/ntp boolean true

### Networking
d-i ethdetect/prompt_missing_firmware boolean false
d-i hw-detect/load_firmware boolean true
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string omv-nas
d-i netcfg/get_hostname seen false
d-i netcfg/get_domain string local
d-i netcfg/get_domain seen false

### Account setup
# Skip creation of a normal user account
d-i passwd/make-user boolean false
# Root password
d-i passwd/root-password password Openmediavault@2026!
d-i passwd/root-password-again password Openmediavault@2026!

### Partitioning
# This makes partman automatically partition without confirmation.
d-i partman-auto/method string regular
d-i partman-auto/init_automatically_partition select some_device
d-i partman-auto/choose_recipe select atomic
d-i partman/default_filesystem string ext4
d-i partman/choose_partition select finish
d-i partman/confirm_write_new_label boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/confirm boolean true
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true

### Boot loader installation
# This is fairly safe to set, it makes grub install automatically to the MBR
# if no other operating system is detected on the machine.
d-i grub-installer/only_debian boolean true

# This one makes grub-installer install to the MBR if it also finds some other
# OS, which is less safe as it might not be able to boot that other OS.
d-i grub-installer/with_other_os boolean false

### Apt setup
# Choose, if you want to scan additional installation media
# (default: false).
d-i apt-setup/cdrom/set-first boolean false
# You can choose to install non-free firmware.
d-i apt-setup/non-free-firmware boolean true
# You can choose to install non-free and contrib software.
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
# Use a network mirror.
d-i apt-setup/use_mirror boolean true
# Uncomment the following line, if you don't want to have the sources.list
# entry for a DVD/BD installation image active in the installed system
# (entries for netinst or CD images will be disabled anyway, regardless of
# this setting).
d-i apt-setup/disable-cdrom-entries boolean true

### Package selection
d-i pkgsel/run_tasksel boolean false

# Install openmediavault installer scripts
d-i preseed/early_command string anna-install openmediavault-installer

### Finishing up the installation
# This will prevent the installer from ejecting the CD during the reboot,
# which is useful in some situations.
d-i cdrom-detect/eject boolean true

## Questions from regular packages
# You can choose, if your system will report back on what software you have
# installed, and what software you use. The default is not to report back,
# but sending reports helps the project determine what software is most
# popular and should be included on the first CD/DVD.
popularity-contest popularity-contest/participate boolean false

### Network autoconfig — bootstrap network before OMV is configured
# Copies nas-net-autoconfig to the installed system so first boot gets an IP
# even if the interface name changed from the installer environment.
d-i preseed/late_command string \
    mkdir -p /target/usr/local/bin /target/etc/nas-net-autoconfig /target/etc/systemd/system; \
    cp /cdrom/postinstall/nas-net-autoconfig.sh /target/usr/local/bin/nas-net-autoconfig.sh; \
    chmod 755 /target/usr/local/bin/nas-net-autoconfig.sh; \
    cp /cdrom/postinstall/nas-net-autoconfig.service /target/etc/systemd/system/nas-net-autoconfig.service; \
    cp /cdrom/postinstall/wifi.conf /target/etc/nas-net-autoconfig/wifi.conf; \
    chmod 600 /target/etc/nas-net-autoconfig/wifi.conf; \
    in-target systemctl enable nas-net-autoconfig.service; \
    in-target apt-get install -y firmware-iwlwifi wpasupplicant || true
